Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-casting-through-void,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-exp05-cpp,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-slicing,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-no-malloc,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-trivially-destructible,
  misc-misplaced-const,
  misc-no-recursion,
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-parameters,
  readability-function-size,
  readability-function-cognitive-complexity,
  readability-identifier-naming

CheckOptions:
  - key: cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion
    value: 1
  - key: cppcoreguidelines-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value: 1
  - key: cppcoreguidelines-narrowing-conversions.WarnOnEquivalentBitWidth
    value: 1
  - key: bugprone-switch-missing-default-case.EnableForSwitch
    value: 1
  - key: bugprone-string-constructor.WarnOnLargeLength
    value: 1
  - key: bugprone-string-constructor.LargeLengthThreshold
    value: 8388608
  - key: cert-err34-c.AllowedFunctions
    value: ''
  - key: readability-function-size.LineThreshold
    value: 60
  - key: readability-function-size.StatementThreshold
    value: 100
  - key: readability-function-size.BranchThreshold
    value: 20
  - key: readability-function-size.ParameterThreshold
    value: 6
  - key: readability-function-size.NestingThreshold
    value: 4
  - key: readability-function-cognitive-complexity.Threshold
    value: 30
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:       none
